@import "variables";

.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(350px, 1fr));
  @media (max-width: 700px) {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  grid-gap: 1rem;
  padding-top: 60px;
}

.calendar {
  max-width: 100%;
  .month {
    &-header {
      margin-bottom: 16px;
      display: grid;
      grid-template-columns: 0.2fr 0.8fr 0.2fr;
      grid-template-rows: 1fr;
      justify-content: space-between;
      align-content: center;
      > div {
        display: grid;
        justify-content: Center;
        &:first-child {
          justify-content: flex-start;
        }
        &:last-child {
          justify-content: flex-end;
        }
        align-content: center;
      }
    }
    &-available {
      margin-bottom: 16px;
      > span {
        font-weight: bold;
        position: relative;
        padding-left: 22px;
        &:after {
          position: absolute;
          content: " ";
          font-weight: bold;
          text-align: center;
          width: 16px;
          height: 16px;
          background: var(--color-primary);
          border-radius: 50%;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    &-days {
      &-weekdaysname,
      &-alldays {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(7, 1fr);
      }
      &-weekdaysname {
        .dow {
          color: #cccccc;
          font-weight: bold;
          text-align: center;
        }
        margin-bottom: 16px;
      }

      &-alldays {
        text-align: center;
        .day {
          font-weight: bold;
          text-align: center;
          width: 32px;
          height: 32px;
          border: 4px solid transparent;
          border-radius: 50%;
        }
        .active {
          cursor: pointer;
          background: var(--color-primary);
        }
        .selected {
          background: var(--color-primary-dark);
        }
        .dummy-day {
          color: #cccccc;
        }
      }
    }
  }
}
.appointment {
  margin: 80px 0;
  @media (max-width: 700px) {
    margin: 24px 0;
  }
  .available-times {
    overflow: auto;
    max-height: 220px;
    min-height: 220px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 80px);
    .time {
      height: 60px;
      margin: 4px 8px;
      padding: 1rem;
      text-align: center;
      border-radius: 8px;
      font-weight: bolder;
      background: var(--color-secondary);
      color: black;
      cursor: pointer;
      &.active {
        background: var(--color-primary);
        color: black;
      }
    }
  }
  .form {
    margin-top: 8px;
    .selected-date {
      color: var(--color-primary-dark);
      //text-transform: capitalize;
    }
  }
}

.disable-scrollbars::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}
.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide {
  display: none;
  opacity: 0;
}

label {
  font-weight: bold;
}
.btn {
  font-weight: bold;
}
.btn-custom {
  border: none;
  background-color: var(--color-primary);
  color: black;

  &:hover,
  &:active {
    color: black;
    background-color: var(--color-primary-dark);
  }
}
